/* styles.css */

* {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    color: white;
    background-color: black;
}

h2 {
    text-align: left;
    color: blue;
}

p,
li {
    text-align: justify;
}

img {
    width: 400px;
    height: auto;
}